@charset "UTF-8";
@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope-extrabold.woff2") format("woff2"),
    /* Modern browsers */ url("./fonts/manrope-extrabold.woff") format("woff"),
    /* Legacy browsers */ url("./fonts/manrope-extrabold.otf")
      format("truetype"); /* Android, iOS */
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope-bold.woff2") format("woff2"),
    url("./fonts/manrope-bold.woff") format("woff"),
    url("./fonts/manrope-bold.otf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope-semibold.woff2") format("woff2"),
    url("./fonts/manrope-semibold.woff") format("woff"),
    url("./fonts/manrope-semibold.otf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope-medium.woff2") format("woff2"),
    url("./fonts/manrope-medium.woff") format("woff"),
    url("./fonts/manrope-medium.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope-regular.woff2") format("woff2"),
    url("./fonts/manrope-regular.woff") format("woff"),
    url("./fonts/manrope-regular.otf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope-light.woff2") format("woff2"),
    url("./fonts/manrope-light.woff") format("woff"),
    url("./fonts/manrope-light.otf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope-thin.woff2") format("woff2"),
    url("./fonts/manrope-thin.woff") format("woff"),
    url("./fonts/manrope-thin.otf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
body,
html {
  font-family: "Manrope", sans-serif;
}
*,
*:before,
*:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /* font-smoothing: antialiased; */
}

:root {
  --grey10: #d8d8d8;
  --grey60: #a2a2a2;
  --green-theme: #60b246;
  --black: #000000;
  --dark-bg: #111213;
  --black-text: #111111;
  --dark-text: #707070;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 2 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

/* ------------ Common CSS ------------*/

/* Font sizes */
.xxsmall-fs {
  font-size: calc(12rem / 16);
}

.xsmall-fs {
  font-size: calc(14rem / 16);
}

.small-fs {
  font-size: calc(16rem / 16);
}

.regular-fs {
  font-size: calc(18rem / 16);
}

.large-fs {
  font-size: calc(24rem / 16);
}

.xlarge-fs {
  font-size: calc(32rem / 16);
}

.xxlarge-fs {
  font-size: calc(48rem / 16);
}

/* Font-weights */
.fw1 {
  font-weight: 100;
}
.fw2 {
  font-weight: 200;
}
.fw3 {
  font-weight: 300;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw7 {
  font-weight: 700;
}
.fw8 {
  font-weight: 800;
}
.fw9 {
  font-weight: 900;
}

/* Colors */
.white {
  color: white;
}

.grey10 {
  color: var(--grey10);
}

.grey60 {
  color: var(--grey60);
}

.black {
  color: var(--black);
}

.dark-bg {
  color: var(--dark-bg);
}

.black-text {
  color: var(--black-text);
}

.dark-text {
  color: var(--dark-text);
}

/* Common Components */
.add-btn {
  background-color: transparent;
  color: var(--green-theme);
  border: 2px solid var(--grey10);
  border-radius: 24px;
  font-weight: 700;
  padding: 0.1rem 1.4rem;
  float: right;
}
.logo-text {
  text-align: left;
  font: normal 28px Manrope3, sans-serif;
  letter-spacing: -4.7px;
  color: #111111;
  opacity: 1;
}

.footer-logo-text {
  text-align: left;
  font: normal 48px Manrope3, sans-serif;
  letter-spacing: -8.06px;
  color: #d8d8d8;
  opacity: 1;
}

/* Header */
nav.navbar {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  z-index: 11;
}

/* Home */
.hero .col-md {
  /* background: url("/assets/images/heroMen.jpg") center / cover no-repeat; */
  /* width: 100%; */
  /* height: auto; */
  position: relative;
}

.hero-img {
  background: url("/assets/images/healthy/Fruit Cereal.jpg") center / cover
    no-repeat;
  height: 256px;
}

.hero-caption {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.2rem;
  font-size: 2rem;
}

/* ---------------- Footer --------------------- */
.footer {
  background-color: var(--black);
  color: var(--dark-text);
}

.footer .row {
  background-color: var(--dark-bg);
}
